/* ------------------------------------------------------------

    Author:    Adam Stacoviak, adam@adamstacoviak.com
    Updated:   080308 3:08AM

------------------------------------------------------------ */

/* ------------------------------------------------------------
	Structure
------------------------------------------------------------ */
* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	margin: 0 0 1px 0;
	padding: 0;
}

body {
	font: 72.5% Verdana, Arial, sans-serif;
	color: #353535;
	background: #fff;
}

#container {
	width: 660px;
	margin: 0 auto;
	padding: 50px 0 0 0;
	text-align: center;
}

/* ------------------------------------------------------------
	Images
------------------------------------------------------------ */
a img {
	border: none;
}

p img {
	padding: 0;
	max-width: 100%;
}

img.centered {
	display: block;
	margin: 15px auto;
	padding: 0;
}

img.alignright {
	display: inline;
	margin: 15px 20px;
}

img.alignleft {
	display: inline;
	margin: 15px 20px;
}

.alignright {
	float: right;
}

.alignleft {
	float: left;
}

/* ------------------------------------------------------------
	Links
------------------------------------------------------------ */
a {
	color: #AE3232;
	text-decoration: none;
}

a:hover {
	color: #AE3232;
	text-decoration: underline;
}

a:focus, a:active {
	outline: none;
}

/* ------------------------------------------------------------
	Common, Misc...
------------------------------------------------------------ */
.hidden, hr {
	display: none;
}

.clear {
	clear: both;
}